{% extends 'base.html.twig' %}

{% block title %}Mes réservations{% endblock %}

{% block myreservationPage %}
    <a class="nav-item nav-link active" href="{{ path('myreservation') }}">Mes réservations</a>
{% endblock %}

{% block body %}
    <h1>Mes réservations</h1>
    <ul class="list-group">
        {% for reservation in reservations %}
            <li class="list-group-item">{{ reservation.event.libelle }}</li>
        {% endfor %}
    </ul>
{% endblock %}
