@import "~bootstrap/scss/bootstrap";

.container{
  margin-top: 20px;
}
.row .col-sm{
  margin-top: 20px;
}
.btn-suppr{
  float : right;
  width: 40px;
  padding-left: 0px;
  padding-right: 0px;
  margin: 0.2rem;
}
.btn-edit{
  float : right;
  width: 40px;
  padding-left: 0px;
  padding-right: 0px;
  margin: 0.2rem;
}
.card-title{
  display : inline-block;
}
.nav-item .nav-link, .navbar-brand{
  color: white;
  font-weight: bold;
}